*{
	box-sizing: border-box;
	font-family: 'Roboto Mono';
	font-weight: 700;
	padding: 0;
	margin: 0;
}
.list {
list-style: none;
max-width: 320px;
width: 100%;
margin: 20px auto;
padding: 0;
        }
.item-list {
display: flex;
justify-content: center;
align-items: center;
max-width: 300px;
width: 100%;
height: 40px;
border: 2px solid rgb(10, 110, 204);
opacity: 1;
background: #F5F5F5;
border-radius: 5px;
margin: 10px;
        }
.drag {
background-color: #B0C4DE;
border: 2px dashed rgb(5, 165, 157);
color: #B0C4DE;
opacity: 0.5;
        }

.draged {
	opacity: none;
	background: #F5F5F5;
}

.end{
	border: 2px solid greenyellow;
	color: green;
}